@model CompraInteligente.Models.Simulador
@using CompraInteligente.Controllers

@{ 
    int n = 0;
}
<table class="table">
    <tr>
        <th>
           #
        </th>
        <th>
            Fecha
        </th>
        <th>
            Saldo
        </th>
        <th>
            Interés
        </th>
        <th>
            Seguro Desgr
        </th>
        <th>
            Seguro Bien
        </th>
        <th>
            Amortización
        </th>
        <th>
            Envío de Información Periódica 
        </th>
        <th>
            Cuota
        </th>
        <th></th>
    </tr>

    @{
        var aux = ((SimuladorsController)this.ViewContext.Controller);

        //double cuotaaux =0;

        DateTime fecha = Model.fechaDesenbolso;
        //fecha.
        double monto = Model.montoDelPrestamo_num;
        double interes = 0;
        double seguroDesg = 0;
        double seguroBien = 0;
        double amortizacion = 0;
        double informacionPeriodica = 0;
        double cuota = 0;
        double suma = 0;
        int diasMes = 0;

        //double final= Model.CM;
        //double cuota2aux = 0;
        //int auxcont = 0;
        //do
        //{
        //    auxcont++;
        //    cuota2aux += cuota2aux;
        //    for (int i = 0; i < Model.plazo; i++)
        //    {
        //        diasMes = DateTime.DaysInMonth(fecha.Year, fecha.Month);
        //        cuota2aux = Math.Round(aux.calcularCuota2(Model, diasMes, final), 2);
        //        cuotaaux += cuota2aux;
        //        fecha = fecha.AddMonths(1);

        //    }
        //    final -= cuota2aux;
        //} while (Math.Round(final, 2) > 0.004f);
        fecha = Model.fechaDesenbolso;
        cuota = aux.calcularValorFuturo(Model);
        cuota = Math.Round(cuota / Model.plazo,2);
        double sumamor = 0;
        double sumseg = 0;
    }

    @for (int i = 0; i < Model.plazo + 2; i++)
    {
        <tr>
                <td>
                    @i
                </td>
                <td>@fecha</td>
                <td>@monto</td>
                <td>@interes</td>
                <td>@seguroDesg</td>
                <td>@seguroBien</td>
                <td>@amortizacion</td>
                <td>@informacionPeriodica</td>
                <td>@cuota</td>
                <td>
                    @suma
                    @Html.ActionLink("Volver", "Index")
                    @sumamor
                    @sumseg
                </td>
            @{ 
                if (i == 0)
                {
                    informacionPeriodica = Model.portes;
                    cuota = cuota + informacionPeriodica;
                }
                diasMes = DateTime.DaysInMonth(fecha.Year, fecha.Month);
                fecha = fecha.AddMonths(1);
                interes = Math.Round(aux.calcularInteres(Model, diasMes, monto), 2);
                //amortizacion = Math.Round(aux.calcularAmortizacion(Model, diasMes, cuota), 2);

                //interes = cuota - amortizacion;
                seguroDesg = Math.Round(aux.calcularSeguroDesg(Model, diasMes, monto), 2);
                seguroBien = Math.Round(aux.calcularSeguroVehicular(Model, diasMes), 2);
                if (i == Model.plazo)
                {
                    cuota = Model.ultimaCuota_num;
                }
                {
                    //cuota = Math.Round(aux.calcularCuota(Model, diasMes), 2);
                    amortizacion = cuota - interes;
                    monto -= Math.Round(amortizacion, 2);
                    suma = Math.Round(cuota + seguroBien + seguroDesg, 2);
                    //suma = Math.Round(amortizacion + interes + seguroBien + seguroDesg, 2);
                }
                sumamor += amortizacion;
                sumseg += seguroDesg;

            }
        </tr>
                }

</table>

