@model IEnumerable<CompraInteligente.Models.Simulador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.plazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoMoneda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDesenbolso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diaDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoDeCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.informacionPeriodica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoDeSeguroDesgravamen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tasaMensualSeguroDesgravamen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.portes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cuotasPorAnho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorDelBien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.geografia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoSeguroVehicular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tasaSeguroVehicular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoDeCambio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cuotaInicial_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montoDelPrestamo_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ultimaCuota_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tcea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tasaAnualSeguroDesgravamen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.plazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoMoneda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDesenbolso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diaDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoDeCredito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.informacionPeriodica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoDeSeguroDesgravamen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tasaMensualSeguroDesgravamen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.portes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuotasPorAnho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorDelBien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.geografia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoSeguroVehicular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tasaSeguroVehicular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoDeCambio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuotaInicial_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoDelPrestamo_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ultimaCuota_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tcea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tasaAnualSeguroDesgravamen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SimuladorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SimuladorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SimuladorID })
            @Html.ActionLink("Cronograma", "Cronograma", new { id = item.SimuladorID })
        </td>
    </tr>
}

</table>
